// global color tokens
$-clr-white: hsl(0, 0%, 100%);
$-clr-snow: hsl(214, 37%, 96%);
$-clr-light-gray: hsl(0 0% 95%);
$-clr-dim-gray: hsl(217, 12%, 62%);
$-clr-dark-navy: hsl(216, 17%, 35%);
$-clr-black: hsl(0, 0%, 0%);
$-clr-yellow-primary: hsl(40, 97%, 58%);
$-clr-dark-accent: hsl(215, 14%, 23%);
$-clr-yellow-light-accent: hsl(39, 100%, 94%);





$default: (
  "neutral": (
    "white": $-clr-white,
    "snow": $-clr-snow,
    "light-gray": $-clr-light-gray,
    "dim-gray": $-clr-dim-gray,
    "dark-navy": $-clr-dark-navy,
    "black": $-clr-black,
  ),
  "accent": (
    "dark": $-clr-dark-accent,
    "yellow-light": $-clr-yellow-light-accent
  ),
  "primary": (
    "yellow": $-clr-yellow-primary,
  ),
);



// contextual color tokens
$color-neutral-white: var(--neutral-white);
$color-neutral-snow: var(--neutral-snow);
$color-neutral-light-gray: var(--neutral-light-gray);
$color-neutral-dim-gray: var(--neutral-dim-gray);
$color-neutral-dark-navy: var(--neutral-dark-navy);
$color-neutral-black: var(--neutral-black);

$color-primary-yellow: var(--primary-yellow);


$color-accent-dark: var(--accent-dark);
$color-accent-yellow-light: var(--accent-yellow-light);

