$-ff-space-mono: "Space Mono", sans-serif;
$-ff-lexend-deca: "Lexend Deca", sans-serif;


$font-family-base: $-ff-lexend-deca;
$font-family-accent: $-ff-space-mono;

$font-sizes: (
  "small": (
    "900": 3.5rem,//56
    "800": 3rem,//48
    "700": 2.5rem,//40
    "600": 1.5rem,//24
    "400": 0.938rem,//15
  ),
  "large": (
    "900": 3.75rem,
    "800": 3rem,
    "700": 1.75rem,
    "600": 1.5rem,//24
    "500": 1.25rem,//20
    "400": 0.938rem,//15
  ),
);


$font-size-400: var(--fs-400);
$font-size-500: var(--fs-500);
$font-size-600: var(--fs-600);
$font-size-700: var(--fs-700);
$font-size-800: var(--fs-800);
$font-size-900: var(--fs-900);

$-fw-400: 400;
$-fw-700: 700;

$font-weight-default: $-fw-400;
$font-weight-bold: $-fw-700;
